@import "@/styles/vars";
@import "@/styles/templates";
@import "@/styles/mixins";

// Global variables of the app
:root {
  color-scheme: dark;

  --color-global-bg: #292929;

  --color-header: #181818;

  --color-footer: #181818;

  --color-auth-form-bg: #181818;

  --color-sample: #808080;

  --color-text: #ffffff;
  --color-text-white: #ffffff;
  --color-text-dark: #000000;

  --color-btn-text: #ffffff;
  --color-btn-bg: #bb8800;

  --color-link-active: #ffec8b;

  --color-input-bg: #292929;
  --color-input-placeholder: #888888;

  --burger-menu-btn-img: url("@/assets/icons/burger-btn-white.svg");
  --color-burger-menu-bg: #181818;
  --color-burger-menu-text: #ffffff;
  --color-burger-menu-link-borders: #ffffff;
  --color-burger-menu-link: #f7c832;
  --color-burger-menu-back-bg-rgb: 255, 255, 255;

  --color-badge-top-secret-top: #555c7a;
  --color-badge-top-secret-bottom: #30354a;

  --color-badge-hentai-top: #81c784;
  --color-badge-hentai-bottom: #388e3c;

  --color-badge-psychopathic-top: #4d0e0e;
  --color-badge-psychopathic-bottom: #000000;

  --color-alpha: #ffdddd;
  --color-alpha-rgb: 255, 221, 221;
  --color-beta: #ddddff;
  --color-beta-rgb: 221, 221, 255;
  --color-gamma: #ddffdd;
  --color-gamma-rgb: 221, 255, 221;
  --color-delta: #ffffdd;
  --color-delta-rgb: 255, 255, 221;
  --color-epsilon: #ffddff;
  --color-epsilon-rgb: 255, 221, 255;

  --color-hero-replic: #ffffdd;
}

// Class for light theme colors
.light-theme {
  color-scheme: light;

  // TODO: in future
}

// Global container of whole page
.global-container {
  position: relative;
  min-height: 100vh;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--color-global-bg);
}
