@import "@/styles/vars";
@import "@/styles/templates";
@import "@/styles/mixins";

// Global variables of the app
:root {
  color-scheme: dark;

  --color-global-bg: #292929;

  --color-header: #181818;
  --color-footer: #181818;

  --color-auth-form-bg: #181818;

  --color-sample: #808080;

  --color-text: #ffffff;
  --color-text-white: #ffffff;
  --color-text-dark: #000000;

  --color-btn-text: #ffffff;
  --color-btn-bg: #bb8800;

  --color-link-active: #ffec8b;

  --color-input-bg: #292929;
  --color-input-placeholder: #888888;

  --burger-menu-btn-img: url("@/assets/icons/burger-btn-white.svg");
  --color-burger-menu-bg: #181818;
  --color-burger-menu-text: #ffffff;
  --color-burger-menu-link-borders: #ffffff;
  --color-burger-menu-link: #ffec8b;
  --color-burger-menu-back-bg-rgb: 255, 255, 255;

  --color-badge-top-secret-top: #555c7a;
  --color-badge-top-secret-bottom: #30354a;

  --color-badge-hentai-top: #81c784;
  --color-badge-hentai-bottom: #388e3c;

  --color-badge-psychopathic-top: #4d0e0e;
  --color-badge-psychopathic-bottom: #000000;

  --sun-icon-img: url("@/assets/images/sun-white.png");
  --moon-icon-img: url("@/assets/images/moon-white.png");

  --color-theme-slider-dark: #2b2b2b;
  --color-theme-slider-light: #cccccc;
  --color-theme-slider-circle: #ffffff;

  --color-alpha: #ffdddd;
  --color-alpha-rgb: 255, 221, 221;
  --color-beta: #ddddff;
  --color-beta-rgb: 221, 221, 255;
  --color-gamma: #ddffdd;
  --color-gamma-rgb: 221, 255, 221;
  --color-delta: #ffffdd;
  --color-delta-rgb: 255, 255, 221;
  --color-epsilon: #ffddff;
  --color-epsilon-rgb: 255, 221, 255;

  --color-hero-replic: #ffffdd;

  --color-app-spinner: #ffffff;
}

// Class for light theme colors
.light-theme {
  color-scheme: light;

  --color-global-bg: #f8f8f8;

  --color-header: #f0e9d4;
  --color-footer: #f0e9d4;

  --color-auth-form-bg: #ffffff;

  --color-sample: #a0a0a0;

  --color-text: #2b2b2b;

  --color-link-active: #e8c547;

  --color-input-bg: #ffffff;
  --color-input-placeholder: #9b9b9b;

  --burger-menu-btn-img: url("@/assets/icons/burger-btn-black.svg");
  --color-burger-menu-bg: #ffffff;
  --color-burger-menu-text: #2b2b2b;
  --color-burger-menu-link-borders: #2b2b2b;
  --color-burger-menu-link: #e8c547;
  --color-burger-menu-back-bg-rgb: 0, 0, 0;

  --sun-icon-img: url("@/assets/images/sun-black.png");
  --moon-icon-img: url("@/assets/images/moon-black.png");

  --color-hero-replic: #7b7b00;

  --color-app-spinner: #333333;
}
