@import "@/styles/vars";

// Default settings of headlines, you only need to choose font size, line height and text color
@mixin default-headline($font-size, $line-height, $text-color) {
  font-family: $font-roboto;
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}

// Default settings of paragraphs and spans, you only need to choose font size, line height and text color
@mixin default-text($font-size, $line-height, $text-color) {
  font-family: $font-roboto;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}

// Default settings of buttons, you only need to choose max-width, text-color and bg-color
@mixin default-btn($max-width, $text-color, $bg-color) {
  position: relative;
  max-width: $max-width;
  width: 100%;
  padding: 15px;
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $text-color;
  background-color: $bg-color;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
  }
  &:disabled {
    transform: none;
    filter: grayscale(50%);
    cursor: default;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(
      175deg,
      rgba(255, 255, 255, 0.4) 0,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  &:not(:disabled):hover::before {
    opacity: 1;
  }
}

// Simple pulse animation for @sample mixin
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

// This mixin is needed for those gray blocks that appearing while some data is fetching
@mixin sample($max-width, $height, $border-radius) {
  max-width: $max-width;
  width: 100%;
  height: $height;
  background-color: var(--color-sample);
  border-radius: $border-radius;
  animation: pulse 0.7s ease-in-out 0s infinite;
}
